.kk-pagination {
    margin: 10px 0;
}

.kk-pagination.kk-left {
    text-align: left;
}

.kk-pagination.kk-center {
    text-align: center;
}

.kk-pagination.kk-right {
    text-align: right;
}

.kk-pagination-loader-box {
    text-align: center;
    padding: 50px 0;
}
