@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(53, 140, 203);
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 400;
}

.logo {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: rgb(53, 140, 203);

}

.content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    margin-bottom: 50px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th,
.table td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-size: 12px;
    font-weight: 900;
    text-align: left;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #333;
    padding: 0 0 50px 0;
}

.list-element {
    line-height: 1.6;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
}

.list-element:first-of-type {
    border-top: 1px solid #eee;
}

.list-element > span {
    display: inline-block;
    width: 30px;
}
