.kk-pagination > button {
    cursor: pointer;
}

.kk-pagination > span {
    cursor: default;
}

.kk-pagination > button,
.kk-pagination > button:hover,
.kk-pagination > button[disabled],
.kk-pagination > button[disabled]:hover { 
    background-color: transparent;
    border-color: transparent;
}

.kk-pagination > button {
    color: #333333;
}

.kk-pagination > button[disabled] {
    opacity: 0.4;
}

.kk-pagination > button.active {
    font-weight: 500;
    color: #66c5a8;
}
